.App {
  display: flex;
  flex-direction: column;
  background-color:#F9DC92;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.navContainer {
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #EDCB74;
}

.navbarLinkContainer {
  background-color: #FCA82A;
  padding: 20px;
  margin: 10px;
  border-radius: 666px;
  box-shadow: 0px 0px 6px rgba(104, 69, 16, 0.3);
}

.navbarLink{
  font-size: large;
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
}

.pageContent{
  width: 80%;
  height: 80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 30%;
  padding-top: 2%;
}

.translationForm{
  background-color: #EFE8DE;
  margin: auto;
  height: 100%;
}

fieldset{
  /*background-color: #EFE8DE;*/
  height: 30%;
}

input{
  font-size: 1.2em;
  width: 80%;
  background-color: #D9D9D9;
  margin: 10px;
  padding: 10px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 666px;
}

.translationBox{
  background-color: #D9D9D9;
  margin: 10px;
  padding: 10px;

  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.translationBoxBorders{
  background-color: #EFE8DE;
  padding: 10px;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.translateButton{
  color:white;
  background-color: #FCA82A;
  box-shadow: 0px 0px 6px rgba(97, 44, 37, 0.7);
  height: 40px;
  width: 180px;
  padding: 10px;
  border-radius: 666px;
  border: none;
  font-weight: bold;
  font-size: 1.1em;
  size: 1.4em;
}



#primary_color {
  color: #F9DC92;
}
/*Page background color*/
#secondary_color {
  color: #F9DC92;
}
/*Color for buttons/details*/
#tertiary_color {
  color: #FCA82A;
}

#form_bg_color_light {
  color: #EFE8DE;
}

#form_bg_color_dark {
  color: #D9D9D9;
}

#delete_btn_bg_color {
  color: #EF6C5B;
}


.translationLi {
  display: flex;
  list-style-type: none;
  padding: 10px;
  padding-left: 30px;
  margin: 10px;
  height: 30px;
  background-color: #EFE8DE;
  border-radius: 666px;

  align-items: center;
  
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.translationUl {
  border-radius: 5px;
  background-color: #D9D9D9;
  margin: 10px;
  padding: 10px;

  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.translationDiv {
  border-radius: 5px;
  background-color: #EFE8DE;
  padding: 10px;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.translationListTitle {
  margin-left: 30px;
}

.profileBtnContainer {
  display: flex;
  justify-content: space-between;
}

.profileBtn {
  height: 40px;
  padding: 10px;
  border-radius: 666px;
  border: none;
  font-weight: bold;
}

.profileBtn.logoutBtn {
  background-color: #EF6C5B;
  box-shadow: 0px 0px 6px rgba(97, 44, 37, 0.7);
}

.profileBtn.clearBtn {
  background-color: #FCA82A;
  color: #FFFFFF;
  box-shadow: 0px 0px 6px rgba(104, 69, 16, 0.7);
}

.login {
  color:black;
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;
}

.loginDiv {
  background-color: #EFE8DE;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  font-weight: bold;
}

.profileBtn.loginBtn {
  background-color: #FCA82A;
  color: #FFFFFF;
  margin-left: 10px;
  box-shadow: 0px 0px 6px rgba(104, 69, 16, 0.7);
}

.loginInput {
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  padding: 10px;

  background-color: #D9D9D9;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.loginField {
  display: flex;
  border: none;
  align-items: center;
  justify-content: space-between;
}

.loginAuxElement {
  font-weight: bold;
  margin: 10px;
}